<div
    flow-init="{singleFile:true}"
    flow-name="credit.flow"
    flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
    flow-files-submitted="imageAdded($files, $event)">
    <div ng-if="hasImage">
        <img ng-src="images/credits/{{ credit.imgName[0].image_name }}" alt="" />
    </div>
    <div class="panel panel-default text-center" ng-if="!hasImage">
        <form class="form">
            <div class="panel-body">
                <div class="form-group" ng-show="credit.flow.files.length">
                    <img flow-img="credit.flow.files[0]" height="150" width="150" />
                </div>
                <div class="form-group" ng-hide="credit.flow.files.length">
                    <img src="images/AAAAAA&text=no+image.gif" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-hide="credit.flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</button>
                    <button class="btn btn-default" ng-show="credit.flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</button>
                    <button class="btn btn-danger" ng-show="credit.flow.files.length" ng-click="credit.flow.cancel()">Remove</button>
                </div>
                <div class="form-group" ng-show="credit.flow.files.length">
                    <ul class="list-group text-left">
                        <li class="list-group-item"><strong>Filename</strong> <span class="badge">{{ credit.flow.files[0].name }}</span></li>
                        <li class="list-group-item"><strong>Type</strong> <span class="badge">{{ credit.flow.files[0].file.type }}</span></li>
                        <li class="list-group-item"><strong>Size</strong> <span class="badge">{{ credit.flow.files[0].size }} bytes</span></li>
                        <li class="list-group-item text-center"><button class="btn btn-info"><span class="glyphicon glyphicon-upload"></span> Upload it</button></li>
                    </ul>
                </div>
            </div>
            <input type="hidden" ng-model="image_id" value="" />
        </form>
    </div>
</div>
