<div>
    <div class="panel panel-default text-center">

        <div class="panel-heading">
            <strong>Cover</strong>
        </div>

        <div class="panel-body">
            <div ng-show="selectedFiles != null">
                    <img ng-show="dataUrls[0]" ng-src="{{dataUrls[0]}}">
                    <button class="button" ng-click="start(0)" ng-show="progress[0] < 0">Start</button>
                    <span class="progress" ng-show="progress[0] >= 0">
                        <div style="width:{{progress[0]}}%">{{progress[0]}}%</div>
                    </span>
                    <button class="button" ng-click="abort()" ng-show="hasUploader() && progress[0] < 100">Abort</button>
            </div>
            <div ng-if="imageAlreadyExists" ng-hide="selectedFiles != null">
                <img ng-src="/images/credits/{{ credit.imgName[0].image_name }}" height="150" width="150">
            </div>
            <div ng-show="!imageAlreadyExists && selectedFiles == null">
                <img ng-src="/images/no_image.gif">
            </div>
        </div>

        <ul class="list-group" ng-show="selectedFiles != null">
            <li class="list-group-item" style="overflow:hidden;"><span class="label label-default pull-left">Filename:</span> <small class="pull-right">{{selectedFiles[0].name}}</small></li>
            <li class="list-group-item" style="overflow:hidden;"><span class="label label-default pull-left">Size:</span> <small class="pull-right">{{selectedFiles[0].size}} Bytes</small></li>
            <li class="list-group-item" style="overflow:hidden;"><span class="label label-default pull-left">Type:</span> <small class="pull-right">{{selectedFiles[0].type}}</small></li>
        </ul>

        <ul class="list-group" ng-hide="selectedFiles != null || !imageAlreadyExists">
            <li class="list-group-item" style="overflow:hidden;"><span class="label label-default pull-left">Filename:</span> <small class="pull-right">{{ credit.imgName[0].image_name }}</small></li>
        </ul>

        <div class="panel-footer">
            <div ng-show="!imageAlreadyExists">
                <input type="file" class="file-input" ng-file-select="onFileSelect($files)" title="Choose Image">
            </div>
            <div ng-show="imageAlreadyExists">
                <input type="file" class="file-input" ng-file-select="onFileSelect($files)" title="Change Image">
            </div>
        </div>

    </div>
</div>
