<div ng-controller="CreditsCtrl.List" cg-busy="creditsPromise">

    <div class="well">
        <form class="form-inline" ng-submit="searchCredits()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchTerm" placeholder="Keyword">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <table class="table table-striped" id="credits-table" infinite-scroll="getCredits()" infinite-scroll-disabled='loader.busy'>
    	<thead>
    		<tr>
    			<th class="credit-id">ID</th>
    			<th class="cover-th">Cover</th>
    			<th class="album-th">Album/Artist</th>
    			<th class="genre-th">Genre</th>
    			<th class="year-th">Year</th>
    			<th class="engineer-th">Engineer</th>
    			<th class="credit-th">Credit</th>
    			<th class="actions-th" style="min-width:120px;"></th>
    		</tr>
    	</thead>
    	<tbody>
        	<tr ng-repeat="credit in creditsList track by credit.id">
    			<td class="credit-id">
    				<div ng-show="credit.homepage_flag != 1" class="homepage-off-message">
    				    <span class="glyphicon glyphicon-eye-close"></span>
    				</div>
    				<span ng-bind="credit.id"></span>
    			</td>
    			<td>
    				<img ng-src="/images/credits/{{ credit.imgName[0].small_name }}" height="80" width="80" />
    			</td>
    			<td><span ng-bind="credit.album_name"></span><br /><span ng-bind="credit.artist_name"></span></td>
    			<td ng-bind="credit.genreName[0].name"></td>
    			<td ng-bind="credit.year"></td>
    			<td ng-bind="credit.engi[0].name"></td>
    			<td ng-bind="credit.credit"></td>
    			<td>
    				<a href="#" ui-sref="credits.edit({ creditId: credit.id })" role="button" class="edit-credit btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    				<button class="btn btn-danger btn-sm btn-block" confirm-click="deleteCredit(credit.id, $index)" confirm-message="Are you sure?"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    			</td>
        	</tr>
    	</tbody>
    </table>

</div>
