<!--start: Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand">Le Lab Mastering - Admin</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="{active: $state.includes('credits')}"><a href="#" ui-sref="credits">Credits</a></li>
                <li><a href="#">Whitepapers</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{active: $state.includes('genres')}"><a href="#" ui-sref="genres">Manage Genres</a></li>
                        <li ng-class="{active: $state.includes('engineers')}"><a href="#" ui-sref="engineers">Manage Engineers</a></li>
                        <li ng-class="{active: $state.includes('tags')}"><a href="#" ui-sref="tags">Manage Tags</a></li>
                    </ul>
                </li>
			</ul>
		</div>
	</div>
</nav>
<!--end: Navbar -->
