<!--start: Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand">Le Lab Mastering - Admin</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="{active: $state.includes('credits')}"><a href="#" ui-sref="credits">Credits</a></li>
				<li ng-class="{active: $state.includes('genres')}"><a href="#" ui-sref="genres">Genres</a></li>
				<li ng-class="{active: $state.includes('engineers')}"><a href="#" ui-sref="engineers">Engineers</a></li>
				<li ng-show="false" ng-class="{active: $state.includes('categories')}"><a href="#" ui-sref="categories">Categories</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--end: Navbar -->
