<div id="settings" ng-controller="CreditsCtrl">
	<div class="row">
		<div class="col-md-6">
			<h2 style="margin:0 0 20px 0;">Credits</h2>
		</div>
		<div class="col-md-6">
			<a ng-show="$state.includes('credits.list')" href="#" class="btn btn-primary pull-right" ui-sref="credits.new"><span class="glyphicon glyphicon-plus"></span> Add Credit</a>
			<a ng-hide="$state.includes('credits.list')" href="#" class="btn btn-default pull-right" ui-sref="credits.list"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div ui-view="credits" autoscroll="false" class="ui-view-container" ng-class="fader-animation"></div>
		</div>
	</div>
</div>
