<div id="settings" ng-controller="EngineersCtrl">
    <div class="row">
        <div class="col-md-12">
            <h2>Engineers</h2>
            <div cg-busy="engineersPromise">
                <table class="table table-striped" id="engineers-table">
                    <thead>
                        <tr>
                            <th class="table-list-name-column">Engineer - Click to edit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="engineer in engineers track by engineer.id">
                            <td><a href="#" editable-text="engineer.name" onbeforesave="saveEngineer($data, engineer.id)">{{ engineer.name }}</a></td>
                            <td><button class="btn btn-sm btn-danger pull-right" confirm-click="deleteEngineer(engineer.id, $index)" confirm-message="Are you sure?"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
