<div id="settings" ng-controller="GenresCtrl">
    <div class="row">
        <div class="col-md-12">
            <h2>Genres</h2>
            <div class="well">
                <angucomplete placeholder="Search genres" pause="100" selectedobject="selectedGenre" localdata="genres" searchfields="name" titlefield="name" minlength="1"  inputclass="form-control"/>
            </div>
            <div cg-busy="genresPromise">
                <table class="table table-striped" id="genres-table">
                    <thead>
                        <tr>
                            <th class="table-list-name-column">Genre - Click to edit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="genre in genres track by genre.id">
                            <td>{{ genre.name }}</td>
                            <td><button class="btn btn-sm btn-danger pull-right" ng-click="deleteGenre(genre.id)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
