<div class="container" ng-controller="SessionCtrl" style="margin-top:30px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Sign in </strong></h3></div>
            <div class="panel-body">
                <form role="form" ng-submit="login()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username or Email</label>
                        <input type="text" ng-model="email" class="form-control" style="border-radius:0px" id="exampleInputEmail1" placeholder="Enter Username or Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" ng-model="password" class="form-control" style="border-radius:0px" id="exampleInputPassword1" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="btn btn-sm btn-default">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>